html, body {
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #2E3033;
  font-family: "Roboto Mono","Roboto Mono",Helvetica,Arial,sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

h1, h2, h3, p {
  text-align: center;
}

#ctn-fire {
  display: block;
  width: 100%;
  display: none;
  margin-top: -5rem;
}


#claus, #fire {
  display: block;
  width: 200px; 
  text-align: center;
  margin: 0 auto
}

#fire {
  display: block;
  width: 280px
}

audio {
  display: none;
}
